<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" monitorInterval="30">

    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/text.log" filePattern="logs/%d{YYYYMMdd}-text.%i.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{1}:%L - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="root" level="info" additivity="false">
            <appender-ref ref="RollingFile" level="info" />
            <appender-ref ref="Console" level="info" />
        </Logger>
    </Loggers>

</Configuration>
